.landing-container {
  background-color: rgb(22, 22, 22);
  height: calc(100vh - 45px);
  color: rgb(230, 230, 230);
  font-family: 'PT Sans', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#welcome-title {
  display: inline-block;
  font-size: 60px;
  margin-top: 10%;
}

#welcome-text {
  text-align: center;
  font-size: 30px;
}

#option-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 5%;
  font-size: 15px;
}

.landing-button {
  margin: 0px 25px;
  background-color: rgb(120, 80, 150);
  color: rgb(230, 230, 230);
  width: 100px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
