body {
  margin: 0;
  background-color: rgb(22, 22, 22);
}

a {
  color: rgb(230, 230, 230);
  text-decoration: none;
}

input {
  border: none;
  border-bottom: 1px solid rgb(126, 126, 126);
  background-color: rgb(22, 22, 22);
  color: rgb(230, 230, 230);
  font-size: 15px;
}

.right-column {
  padding-left: 10px;
}

.enter-button {
  background-color: rgb(120, 80, 150);
  color: rgb(230, 230, 230);
  width: 100px;
  height: 30px;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  margin-top: 20px;
}
