.navbar {
  background-color: rgb(22, 22, 22);
  display: flex;
  flex-direction: row;
  color: rgb(230, 230, 230);
  font-family: 'PT Sans', sans-serif;
  height: 45px;
}

.navbar-category {
  font-size: 20px;
  padding: 10px 0px;
  display: inline-block;
  margin: 0px 10px;
}

#logout-nav {
  display: none;
}
